# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment folders
.venv/
venv/
env/

# Environment variable files (no longer used, but good to ignore anyway)
.env

# Jupyter Notebook checkpoints (just in case)
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code settings
.vscode/

# Streamlit secrets file
.streamlit/secrets.toml
